* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
body {
  font-family: "Cairo", sans-serif;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000;
}
/* variables */
:root {
  --main-color: #3498db;
  --second-color: #8abe52;
  --sec-padding: ;
  --bgc-color: #ddd;
  --p-color: #777;
  --transition: 0.3s;
}
/* the main container */
.container {
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 900px;
  }
}
@media (min-width: 1024px) {
  .container {
    width: 950px;
  }
}
/* sections title */
.title {
  padding: 20px 25px;
  border-radius: 5px;
  border: 2px solid var(--main-color);
  text-transform: uppercase;
  width: fit-content;
  margin: 0 auto;
}
/* start header */
header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
header .container .logo {
  width: 150px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .container .logo img {
  max-width: 100%;
}
header .container nav {
  display: flex;
  align-items: center;
}
header .container nav a {
  height: 72px;
  padding: 0 25px;
  display: flex;
  align-items: center;
  font-size: 20px;
  position: relative;
  background-color: transparent;
  overflow: hidden;
}
header .container ul a.active {
  color: var(--main-color);
}

header .container nav a::after {
  content: "";
  width: 0;
  height: 0;
  background-color: var(--main-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  z-index: 0;
}
header .container nav a:hover {
  animation: bg-color 0.1s linear 0.1s forwards;
}
header .container nav a:hover::after {
  animation: fill-circle 0.2s linear;
}
header .container > i {
  display: none;
}
@media (max-width: 767px) {
  header .container {
    flex-direction: column;
  }
  header .container nav {
    width: 90%;
    justify-content: space-between;
  }
  header .container nav a {
    padding: 0;
    font-size: 17px;
  }
  header .container nav a.removable {
    display: none;
  }
}
@media (max-width: 480px) {
  header .container nav {
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 72px;
    width: 50%;
    background-color: var(--bgc-color);
    display: none;
  }
  header .container nav a {
    border-bottom: 1px solid var(--second-color);
    width: 100%;
    justify-content: center;
    font-size: 20px;
  }
  header .container > i {
    display: block;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 25px;
  }
  header .container > i:hover + nav {
    display: flex;
  }
}
/* start home */
.home {
  height: calc(100vh - 72px);
  background-image: url("../images/clinic.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative;
}
@media (max-width: 767px) {
  .home {
    height: calc(100vh - 144px);
  }
}
@media (max-width: 480px) {
  .home {
    height: calc(100vh - 72px);
  }
}
.home::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.35);
  z-index: 0;
}
.home .container {
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 2;
  position: relative;
}

.home .container img {
  max-height: 100%;
  z-index: 2;
}
@media (max-width: 991px) {
  .home .container img {
    display: none;
  }
}
.home .container .text {
  text-align: center;
  padding: 0 40px;
}
.home .container .text h2 {
  font-size: 40px;
  color: var(--main-color);
  margin-bottom: 20px;
  -webkit-text-stroke: 0.4px #fff;
  text-shadow: 0 0 10px #fff;
}
.home .container .text p {
  font-size: 23px;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 50px;
}
.home .container .text .social {
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0 0 10px #fff;
}
.home .container .text .social i {
  font-size: 25px;
  padding: 0 20px;
}
@media (max-width: 342px) {
  .home .container .text {
    padding: 0 5px;
  }
  .home .container .text h2 {
    font-size: 32px;
  }
  .home .container .text p {
    font-size: 18px;
  }
  .home .container .text .social i {
    padding: 0 10px;
  }
}
.home .container button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  border-radius: 2px;
  border: 2px solid #fff;
  background-color: var(--second-color);
  font-weight: bold;
}
/* end home */
/* animation */
@keyframes fill-circle {
  0% {
    display: block;
    width: 0;
    height: 0;
  }
  99% {
    width: 150px;
    height: 150px;
  }
  100% {
    display: none;
  }
}
@keyframes bg-color {
  0% {
    background-color: #fff;
  }
  100% {
    background-color: var(--main-color);
    color: #fff;
  }
}
